<%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mt-4">To Do List</h1>

      <div class="col-9 row" id="tasks"></div>

      <div class="row mt-3">
        <div class="col-7">
          <input type="text" id="newTask" class="form-control" placeholder="New task">
        </div>
        <div class="col-5">
          <button id="addTaskBtn" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>
